.flex-container {
    display: flex;
}

.flex-child {
    margin:auto;
    border: 2px solid black;
    border-radius: 25px;
    background: lightgrey;
    padding: 20px;
    height: 150px;
    width:75pxs;
}  

.flex-child:first-child {
    margin-right: 20px;

} 