<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Grocer App - Welcome!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active" routerLink="">Sign In <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" routerLink="/sign-up">Customer Sign Up</a>
        </div>
    </div>
</nav>

<div class="container pt-5">

    <mat-grid-list cols="2">

        <mat-grid-tile colspan="1" rowspan="1">

            <div id="Customer" class="card">
                <h3>Customer Sign-In</h3>
                <form #userRef="ngForm" (ngSubmit)="user_signin(userRef.value)">
                    <mat-form-field>
                        <mat-label>Email:</mat-label>
                        <input matInput type="email" name="c_email" ngModel required
                            placeholder="Ex. johndoe@example.com"
                            pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" />
                    </mat-form-field>
                    <br />
                    <mat-form-field>
                        <mat-label>Password:</mat-label>
                        <input matInput type="password" name="c_password" ngModel required />
                    </mat-form-field>
                    <br />
                    <button mat-stroked-button color="primary" type="submit" (click)="reroute_productPage"
                        [disabled]="!userRef.valid">Sign In</button>
                    &nbsp;
                    <button mat-stroked-button color="primary" type="reset">Reset</button>
                </form>
                {{msg}}
            </div>

        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="1">

            <div id="Employee" class="card">
                <h3>Employee Sign-In</h3>
                <form #empRef="ngForm" (ngSubmit)="emp_admin_signin(empRef.value)">
                    <mat-form-field>
                        <mat-label>Email:</mat-label>
                        <input matInput type="email" name="e_email" ngModel required
                            placeholder="Ex. johndoe@example.com"
                            pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" /><br />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Password:</mat-label>
                        <input matInput type="password" name="e_password" ngModel required /><br />
                    </mat-form-field>
                    <button mat-stroked-button color="primary" type="submit" [disabled]="!empRef.valid">Sign In</button>
                    &nbsp;
                    <button mat-stroked-button color="primary" type="reset">Reset</button>
                </form>
                {{adminMsg}}
            </div>

        </mat-grid-tile>

    </mat-grid-list>

</div>