<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Grocer App - Welcome {{uname}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link"  routerLink="/empUpdate">Edit Profile</a>
        <a class="nav-item nav-link active" routerLink="/empRequest">Inventory Request<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/empUnlock">Unlock Users</a>
        <a class="nav-item nav-link"  routerLink="/orderStatus">Update orders</a>
        <a class="nav-item nav-link active"  routerLink="" (click)="logout()">Logout</a>
      </div>
    </div>
  </nav>

<div class="container pt-5">
    <h2>Send Product Request </h2>
     <form #req="ngForm" (ngSubmit)="frmData(req.value)">
        <div class="pt-3 w-50" >
            <div class="fieldgroup pt-3">
                <label for="prd" class="font-weight-bold">Product Name</label>
                <select name="productName" ngModel  class="form-control" (change) = "onddchange($event)" >
                    <option value="0">--All--</option>
                    <option *ngFor="let product of products" value={{product|json}}>
                      {{product.name}}
                    </option>
                  </select>
            </div>
            <div *ngIf = "currentquantity">
            <div class="fieldgroup pt-4">
                <label for="quantity" class="font-weight-bold">Current Quantity : </label>
                {{currentquantity}}
            </div>
        </div>

            <div class="fieldgroup pt-3">
                <label for="quantity" class="font-weight-bold">Quantity</label>
                <input type="number"  min="0" oninput="validity.valid||(value='');" class="form-control"  name="quantity" #quantity="ngModel" ngModel required placeholder="Increase Quantity by">
            </div>
            <!-- <div class="fieldgroup pt-3">
                <label for="lname" class="font-weight-bold">Last Name</label>
                <input type="text" class="form-control" disabled name="lname" placeholder={{empDetails.lastName}}>
            </div> -->

            <div class="fieldgroup pt-5">
                <button type="submit" class="btn btn-primary" [disabled]="!req.form.valid"><b>submit</b> </button>
            </div>
            <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="alert alert-danger mt-5">
               Enter a valid number
            </div> 

           
        </div>
        <br>
        <br>
        <br>
        <div *ngIf = "Message">
            <span class="alert alert-success mt-9">{{ Message }}</span>
        </div>
    </form>
</div>