<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Grocer App - Welcome {{userName}}!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active" routerLink="/productPage">Product Page <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" routerLink="/cart">View Cart</a>
            <a class="nav-item nav-link" routerLink="/profilePage">User Profile</a>
            <a class="nav-item nav-link " (click)='reroute_login()' routerLink="">Logout</a>
        </div>
    </div>
</nav>

<div class="row container pt-5">
    <div class="col-sm-2" *ngFor="let product of allProducts">
        <div class="card" style="width: 10rem;">
            {{product.name}} <br />
            ${{product.price}}<br />
            {{product.description}}<br />
            <input type="button" value="Add to Cart" (click)="pushToCart(product)" />
        </div>
    </div>
</div>