<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Welcome {{uname}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link"  routerLink="/empUpdate">Edit Profile</a>
        <a class="nav-item nav-link" routerLink="/empRequest">Inventory Request</a>
        <a class="nav-item nav-link active" routerLink="/empUnlock">Unlock Users<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link"  routerLink="/orderStatus">Update orders</a>
        <a class="nav-item nav-link active"  routerLink="">Logout</a>
      </div>
    </div>
  </nav>

<div class ="container pt-5" *ngIf="hasData; else Nodata">
    <h2>Unlock Users</h2>
    <table class="table w-70">
        <thead>
            <th>User Id</th>
            <th>description</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let ticket of tickets">
               <!-- <span *ngIf = "ticket.isLockedOut"> -->
                <td *ngIf = "ticket.isLockedOut">{{ticket.userId}}</td>
                <td *ngIf = "ticket.isLockedOut"> {{ticket.description}}   </td>
                <td *ngIf = "ticket.isLockedOut"> <input type="submit" value="Unlock" (click)= "UnlockUser(ticket._id)" class= "btn btn-info"> </td>
            <!-- </span> -->
            </tr>
        </tbody>
    </table>

  
</div>
<ng-template #Nodata>
   <div class="container pt-5"><h2>Unlock Users</h2> </div> 
    <div class="container mt-5 jumbotron">
     <h2 class="text-center">No Records found</h2>
    </div>
    
  </ng-template>
