<div>
    <h2>Admin Page</h2>
    <input type="button" value="Logout" (click)="logout()" />

    <div id="allEmps">
        <h3>All Employees</h3>
        <table>
            <thead>
                <tr>
                    <th>Emp ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Administrative Access</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of allEmps">
                    <td>{{e._id}}</td>
                    <td>{{e.firstName}}</td>
                    <td>{{e.lastName}}</td>
                    <td>{{e.email}}</td>
                    <td>{{e.isAdmin}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="addEmp">
        <h3>
            <input type="button" class="section-button" value="Add New Employee" (click)="showHideSection('addEmp')">
        </h3>
        <form *ngIf="addEmp" #addEmpRef="ngForm"
            (ngSubmit)="addEmployee(addEmpRef.value); addEmpRef.resetForm(); loadAllEmployees()">
            <label>First Name:</label>
            <input type="text" name="fName" ngModel /><br />

            <label>Last Name:</label>
            <input type="text" name="lName" ngModel /><br />

            <label>Email:</label>
            <input type="email" name="email" ngModel /><br />

            <input type="submit" value="Add Employee" />
            <input type="reset" value="Reset" />
        </form>
    </div>

    <div id="removeEmp">
        <h3>
            <input type="button" class="section-button" value="Remove Employee Record"
                (click)="showHideSection('removeEmp')">
        </h3>
        <form *ngIf="removeEmp" #delEmpRef="ngForm"
            (ngSubmit)="deleteEmployee(delEmpRef.value); delEmpRef.resetForm(); loadAllEmployees()">
            <label>Employee ID:</label>
            <input type="text" name="empID" ngModel /><br />

            <input type="submit" value="Remove Employee Record" />
            <input type="reset" value="Reset" />
        </form>
    </div>

    <div id="add Product">
        <h3>
            <input type="button" class="section-button" value="Add New Product" (click)="showHideSection('addProduct')">
        </h3>
        <form *ngIf="addProduct" #addProductRef="ngForm"
            (ngSubmit)="addProductFunc(addProductRef.value); addProductRef.resetForm(); loadAllProducts()">
            <label>Product Name:</label>
            <input type="text" name="name" ngModel /><br />

            <label>Product Price:</label>
            <input type="number" name="price" ngModel /><br />

            <label>Quantity:</label>
            <input type="number" name="quantity" ngModel /><br />

            <label>Description:</label>
            <input type="text" name="description" ngModel /><br />

            <input type="submit" value="Add Product" />
            <input type="reset" value="Reset" />
        </form>
    </div>
</div>