<div>
    <h2>Admin Page <button mat-button color="primary" (click)="logout()">Logout</button></h2>

    <div id="allEmps" class="section">
        <h3>All Employees</h3>
        <table>
            <thead>
                <tr>
                    <th>Emp ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Administrative Access</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of allEmps">
                    <td>{{e._id}}</td>
                    <td>{{e.firstName}}</td>
                    <td>{{e.lastName}}</td>
                    <td>{{e.email}}</td>
                    <td>{{e.isAdmin}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr />

    <div id="addEmp" class="section">
        <h3>
            <input type="button" class="section-button" value="Add New Employee" (click)="showHideSection('addEmp')">
        </h3>
        <form *ngIf="addEmp" #addEmpRef="ngForm" (ngSubmit)="addEmployee(addEmpRef.value); addEmpRef.resetForm()">
            <mat-form-field>
                <mat-label>First Name:</mat-label>
                <input matInput type="text" name="fName" ngModel required />
            </mat-form-field>
            <br />
            <mat-form-field>
                <mat-label>Last Name:</mat-label>
                <input matInput type="text" name="lName" ngModel required />
            </mat-form-field>
            <br />
            <mat-form-field>
                <mat-label>Email:</mat-label>
                <input matInput type="email" name="email" ngModel required placeholder="Ex. johndoe@example.com" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" />
            </mat-form-field>
            <br />
            <button mat-stroked-button color="primary" type="submit" [disabled]="!addEmpRef.valid">Add Employee</button>
            &nbsp;
            <button mat-stroked-button color="primary" type="reset">Reset</button>
            <span class="alert">{{addEmpMsg}}</span>
        </form>
    </div>

    <hr />

    <div id="removeEmp" class="section">
        <h3>
            <input type="button" class="section-button" value="Remove Employee Record" (click)="showHideSection('removeEmp')">
        </h3>
        <form *ngIf="removeEmp" #delEmpRef="ngForm" (ngSubmit)="deleteEmployee(delEmpRef.value); delEmpRef.resetForm()">
            <mat-form-field>
                <mat-label>Employee ID:</mat-label>
                <input matInput type="text" name="empID" ngModel required /><br />
            </mat-form-field>
            <br />
            <button mat-stroked-button color="primary" type="submit" [disabled]="!delEmpRef.valid">Remove Employee Record</button>
            &nbsp;
            <button mat-stroked-button color="primary" type="reset">Reset</button>
            <span class="alert">{{removeEmpMsg}}</span>
        </form>
    </div>

    <hr />

    <div id="allProducts" class="section">
        <h3>All Products</h3>
        <table>
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Product Quantity</th>
                    <th>Product Description</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of allProducts">
                    <td>{{p._id}}</td>
                    <td>{{p.name}}</td>
                    <td>{{p.price}}</td>
                    <td>{{p.quantity}}</td>
                    <td>{{p.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr />

    <div id="add Product" class="section">
        <h3>
            <input type="button" class="section-button" value="Add New Product" (click)="showHideSection('addProduct')">
        </h3>
        <form *ngIf="addProduct" #addProductRef="ngForm"
            (ngSubmit)="addProductFunc(addProductRef.value); addProductRef.resetForm(); loadAllProducts()">
            <label>Product Name:</label>
            <input type="text" name="name" ngModel /><br />

            <label>Product Price:</label>
            <input type="number" name="price" ngModel /><br />

            <label>Quantity:</label>
            <input type="number" name="quantity" ngModel /><br />

            <label>Description:</label>
            <input type="text" name="description" ngModel /><br />

            <input type="submit" value="Add Product" />
            <input type="reset" value="Reset" />
        </form>
    </div>

    <hr />

    <div id="Update Product" class="section">
        <h3>
            <input type="button" class="section-button" value="Update Product"
                (click)="showHideSection('updateProduct')">
        </h3>
        <form *ngIf="updateProduct" #updateProductRef="ngForm"
            (ngSubmit)="updateProductFunc(updateProductRef.value); updateProductRef.resetForm(); loadAllProducts()">

            <label>Product Id:</label>
            <input type="text" name="Id" ngModel /><br />

            <label>Product Name:</label>
            <input type="text" name="name" ngModel /><br />

            <label>Product Price:</label>
            <input type="number" name="price" ngModel /><br />

            <label>Quantity:</label>
            <input type="number" name="quantity" ngModel /><br />

            <label>Description:</label>
            <input type="text" name="description" ngModel /><br />

            <input type="submit" value="Update Product" />
            <input type="reset" value="Reset" />
        </form>
    </div>
    <hr />
    <div id="removeProduct" class="section">
        <h3>
            <input type="button" class="section-button" value="Remove Product"
                (click)="showHideSection('removeProduct')">
        </h3>
        <form *ngIf="removeProduct" #delProdRef="ngForm"
            (ngSubmit)="deleteProductFunc(delProdRef.value); delProdRef.resetForm()">
            <label>Product ID:</label>
            <input type="text" name="Id" ngModel /><br />

            <input type="submit" value="Remove Product Record" />
            <input type="reset" value="Reset" />
        </form>
    </div>
    <hr/>
    <div id="allRequests" class="section">
        <h3>All Requests</h3>
        <table>
            <thead>
                <tr>
                    <th>Request ID</th>
                    <th>Product Name</th>
                    <th>Update Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let r of allRequests">
                    <td>{{r._id}}</td>
                    <td>{{r.productName}}</td>
                    <td>{{r.quantity}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>