<div>
    <h2>Admin Page</h2>
    <input type="button" value="Logout" (click)="logout()" />

    <div id="addEmp">
        <h3>Add New Employee</h3>
        <form #addEmpRef="ngForm" (ngSubmit)="addEmployee(addEmpRef.value); addEmpRef.resetForm()">
            <label>First Name:</label>
            <input type="text" name="fName" ngModel /><br />

            <label>Last Name:</label>
            <input type="text" name="lName" ngModel /><br />

            <label>Email:</label>
            <input type="email" name="email" ngModel /><br />

            <input type="submit" value="Add Employee" />
            <input type="reset" value="Reset" />
        </form>
    </div>

    <div id="removeEmp">
        <h3>Remove Employee Record</h3>
        <form #delEmpRef="ngForm" (ngSubmit)="deleteEmployee(delEmpRef.value); delEmpRef.resetForm()">
            <label>Employee ID:</label>
            <input type="text" name="empID" ngModel /><br />

            <input type="submit" value="Remove Employee Record" />
            <input type="reset" value="Reset" />
        </form>
    </div>
</div>