<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Welcome {{uname}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link active"  routerLink="/empUpdate">Edit Profile <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/empRequest">Inventory Request</a>
        <a class="nav-item nav-link " routerLink="/empUnlock">Unlock Users</a>
        <a class="nav-item nav-link"  routerLink="/orderStatus">Update orders</a>
        <a class="nav-item nav-link active"  routerLink="">Logout</a>
      </div>
    </div>
  </nav>
  
<div class="container pt-5">
    <h2>Edit Employee Profile</h2>
    <form #upd="ngForm" (ngSubmit)="frmData(upd.value)">
        <div class="pt-3 w-50" >
            <div class="fieldgroup pt-3">
                <label for="id" class="font-weight-bold">ID</label>
                <input type="text" class="form-control" disabled name="id" placeholder={{empDetails._id}}>
            </div>
            <div class="fieldgroup pt-3">
                <label for="fname" class="font-weight-bold">First Name</label>
                <input type="text"  class="form-control" disabled name="fname" placeholder={{empDetails.firstName}}>
            </div>
            <div class="fieldgroup pt-3">
                <label for="lname" class="font-weight-bold">Last Name</label>
                <input type="text" class="form-control" disabled name="lname" placeholder={{empDetails.lastName}}>
            </div>
            <div class="fieldgroup pt-3">
                <label for="email" class="font-weight-bold">Email</label>
                <input type="text" class="form-control" disabled name="email" placeholder={{empDetails.email}}>
            </div>
            <div class="fieldgroup pt-3">
                <label for="pwd" class="font-weight-bold">New Password</label>
                <input type="text" class="form-control" name="pwd" placeholder="New Password" minlength="8"
                    #pwd="ngModel" ngModel required>
            </div>
            <div class="fieldgroup pt-5">
                <button type="submit" class="btn btn-primary" [disabled]="!upd.form.valid"><b>submit</b> </button>
            </div>
            <div *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)" class="alert alert-danger">
                <!-- <div *ngIf="pwd.errors.required"> -->
                Password is required with 8 characters
                <!-- </div> -->
            </div>
        </div>
    </form>
</div>