<div class = "card">
    <form #userRef = "ngForm" (ngSubmit) = "user_signup(userRef.value)">
        <h3>Customer Sign-Up</h3>
        <label>First Name:</label>
        <input type = "text" name = "fname" ngModel/><br/>

        <label>Last Name:</label>
        <input type = "text" name = "lname" ngModel/><br/>

        <label>Birthday:</label>
        <input type = "date" name = "dob" ngModel/><br/>

        <label>Phone:</label>
        <input type = "text" name = "phone" ngModel/><br/>

        <label>Address:</label>
        <input type = "text" name = "address" ngModel/><br/>

        <label>Email:</label>
        <input type = "text" name = "email" ngModel/><br/>

        <label>Password:</label>
        <input type = "text" name = "password" ngModel/><br/>

        <input type ="submit" value ="Register"/>
        <input type ="reset" value = "Reset"/><br/>
    </form>        
</div>